---
import { getLanguageFromURL } from "../../languages";
import { SIDEBAR } from "../../config";
import { getMenu } from "../../lib/api";
import SidebarItem from "./SidebarItem.astro";

const { currentPage } = Astro.props;
const currentPageMatch = currentPage.slice(1);
const langCode = getLanguageFromURL(currentPage);

const pagesWithSlugs = await getMenu();
console.log(JSON.stringify(pagesWithSlugs, null, 2));

// SIDEBAR is a flat array. Group it by sections to properly render.
const sidebarSections = SIDEBAR[langCode].reduce((col, item, i) => {
	// If the first item is not a section header, create a new container section.
	if (i === 0) {
		if (!item.header) {
			const pseudoSection = { text: "" };
			col.push({ ...pseudoSection, children: [] });
		}
	}
	if (item.header) {
		col.push({ ...item, children: [] });
	} else {
		col[col.length - 1].children.push(item);
	}
	return col;
}, []);

// console.log(sidebarSections);
---

<nav aria-labelledby="grid-left">
	<SidebarItem listOfItems={pagesWithSlugs} />
</nav>

<script is:inline>
	window.addEventListener("DOMContentLoaded", (event) => {
		var target = document.querySelector('[aria-current="page"]');
		if (target && target.offsetTop > window.innerHeight - 100) {
			document.querySelector(".nav-groups").scrollTop = target.offsetTop;
		}
	});
</script>
