---
import { getMenu } from "../../lib/api";
import SidebarItem from "./SidebarItem.astro";

const pagesWithSlugs = await getMenu();
pagesWithSlugs.pop();
---

<nav aria-labelledby="grid-left">
  <SidebarItem listOfItems={pagesWithSlugs} />
</nav>

<script is:inline>
  window.addEventListener("DOMContentLoaded", (event) => {
    var target = document.querySelector('[aria-current="page"]');
    if (target && target.offsetTop > window.innerHeight - 100) {
      document.querySelector(".nav-groups").scrollTop = target.offsetTop;
    }
  });
</script>
