---
const { active, allTabs, component } = Astro.props;
---

<ul>
  {
    allTabs.map((section) => (
      <li class:list={["tab", { tabSelected: active == section }]}>
        <a href={`/en/${component.attributes.title}-${section}`}>Some Thing</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: inline-block;
    margin: 48px auto;
    border-bottom: 1px solid #dae0e7;
    /* background: #f9f9f9; */
    list-style-type: none;
    padding: 12px 12px 0;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  .tab {
    float: left;
    height: 45px;
    margin: 0 8px -1px 0;
    border: 1px solid #dae0e7;
    background: #f9f9f9;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
  }

  .tab a {
    display: inline-block;
  }

  .tab a:first-child {
    padding: 16px;
    white-space: nowrap;
  }

  .tab:hover {
    background: #fff;
  }

  .tabSelected {
    height: 45px;
    border-bottom: none;
    background: #fff;
  }
</style>
